.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.PokeList-item {
  text-transform: capitalize;
}

#react-paginate ul {
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate .break a {
  cursor: default;
}

#pokemon-modal-title {
  text-transform: capitalize;
}
modal-container {
  display: inline-block;
}
.modal {
  max-height: 50%;
}
#exit-modal-button {
  float: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
